.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {

  display: grid;
  grid-template-columns: repeat(3, minmax(50%, auto));
  width: var(--max-width);
  max-width: 70%;
}

.banner {
  padding: 2rem 2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  width: var(--max-width);
  max-width: 70%;
}

.banner span {
  display: inline-block;
  transition: transform 200ms;
}

.banner h2 {
  text-align: center;
  color: #223f99;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.banner h3 {
  text-align: center;
  color: #223f99;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.banner p {
  text-align: center;
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 80ch;
}

.card {
  margin: 1rem;
  padding: 2rem 2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  width: var(--max-width);
  max-width: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  text-align: center;
  color: #223f99;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card h3 {
  text-align: center;
  color: #223f99;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.card p {
  text-align: center;
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 80ch;
}

.center {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 4rem;
}

.logo {
  position: relative;
  max-width: 100%;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .banner:hover {
    background: rgba(var(--banner-rgb), 0.1);
    border: 1px solid #223f99;
  }

  .banner:hover span {
    transform: translateX(4px);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .banner {
    padding: 1rem 2.5rem;
  }

  .banner h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 0rem 0 0rem;
  }


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
